
@{
    ViewBag.Title = "PLVCustomerDetails";
}

<h2>Thông tin khách hàng</h2>
<div class="alert alert-danger">
    <p>Mã số: @ViewBag.customer.customerid</p>
    <p>Họ và tên: @ViewBag.customer.firstname @ViewBag.customer.firstname</p>
    <p>Địa chỉ: @ViewBag.customer.address</p>
    <p>Mã số: @ViewBag.customer.yearofbirth</p>
</div>

