@model PLVBaiKiemTraGK.Models.PlvSinhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlvSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlvHoSv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvHoSv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvTenSv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvTenSv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvNgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvNgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvPhai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvPhai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plvKhoa.PlvTenKh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plvKhoa.PlvTenKh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "PLVEdit", new { id = Model.PlvMaSv }) |
    @Html.ActionLink("Back to List", "PLVIndex")
</p>
