@model PLVBaiKiemTraGK.Models.plvKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>plvKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlvTenKh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvTenKh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlvTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlvTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "PLVEdit", new { id = Model.PlvMaKh }) |
    @Html.ActionLink("Back to List", "PLVIndex")
</p>
