@model IEnumerable<PLVLesson08.Models.PlvBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlvTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlvAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plvyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlvPublisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlvPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlvCategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlvTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlvAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plvyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlvPublisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlvPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlvCategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlvBookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlvBookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlvBookId })
        </td>
    </tr>
}

</table>
